*/gen/
**/gen/
*.class
*/**/.DS_Store
.DS_Store
# Package Files #
*.jar
*.war
*.ear
*.log
*.sh
*-lock.json
target/
**/target/
*/unknown
*/nb-configuration.xml
**/nb-configuration.xml
*.iml
.mtj.tmp/
*.idea
*.dev.*
**/http.dev.properties
**/wechat.dev.mp.properties
**/im.dev.properties
**/persistence-pgsql.dev.properties
**/persistence-pgsql.renewdb.properties
**/node_modules
**/dist
**/npm*.log.*
**/nbproject
**/nbactions.xml
**/files
**/build
**/logs